<%= form_for(person) do |f| %>
    <% if person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% person.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name,class: "form-control" %>
    </div>
    </br>
    <div>
      <%= select_tag(:company_select_employee, options_for_select(Company.all.map {|p| [p.name, p.uuid]}), include_blank: 'Select Company',class: "col-md-4 btn btn-default dropdown-toggle") %>
    </div>
    <br/>
    <div id = "employee_criteria_new">
    </div>
    <br/>
    <div class="actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
    </div>
<% end %>