<%= form_for(technology) do |f| %>
    <% if technology.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(technology.errors.count, "error") %> prohibited this technology from being saved:</h2>

          <ul>
            <% technology.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name ,class: "form-control"%>
    </div>
    <div class = "form-group">
      <%= select_tag(:company_selected_tech_new, options_for_select(Company.all.map { |p| [p.name, p.uuid]}), include_blank: 'Select Company',class: "col-md-4 btn btn-default dropdown-toggle") %>
    </div>
    <br/>
    <div id = "category_for_technology">
    </div>
    <br/>
    <div class="actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
    </div>
<% end %>